h1, h2{
    margin: 0;
    font-family: "Karla"
}

html, body, main{
        /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}

main {
    min-height: 100%;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/left-blob.png), url(./images/right-blob.png);
    background-position: left bottom, top right;
    background-repeat: no-repeat;
}

.start {
    text-align: center;
}

.start > p.start-description {
    margin-top: 12px;
}

.start > .main-button{
    margin-top: 29px;
}

.main-button{
    font-family: "Inter";
    width: 193px;
    height: 52px;
    border: none;
    color: white;
    background-color: #4D5B9E;
    border-radius: 15px;
}

.main-button:hover {
    transition: all ease-in-out 0.2s;
    color: #4D5B9E;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}

.main-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.answer-button {
    height: max-content;
    background-color: #F5F7FB;
    border: none;
    border: 2px solid #4D5B9E;
    border-radius: 8px;
    padding: 4px 20px;
    margin: 0 12px;
    color: black;
}

h2.question {
    font-family: "Karla";
    font-weight: 700;
    color: #293264;
    margin: 12px;
}

.question-container{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #DBDEF0;
}

.quiz-container{

    overflow-y: auto;
    margin: 40px 40px;
    padding-bottom: 1rem;
}

.question-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.questions{
    margin-bottom: 20px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.opaque{
    opacity: 0.5;
}

.score{
    font-weight: bold;
}